
html {
	font-family: 'Helvetica', Arial, 'sans serif';
	font-size: 14px;
	background-color: #D8C1A0;
}

.profile {
	margin-top: 10%;
}

#all_tags {
	margin-top: 5%;
	margin-bottom: 6%;
}

.article_title {
	margin-top: 8%;
	margin-bottom: 6%;
}

.card {
	margin-right: 0.85em;
	margin-left: 0.85em;
}

.card .card-content {
	height: 200%;
}

.tag {
  background-color: #000000;
  color: #ffffff;
  font-weight: 450;
  font-size: 1em;
  display: inline-block;
  padding: 0.24em 0.62em 0.24em 0.62em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.selected {
  background-color: #ffffff;
  color: #000000;
}

.tag_container {
	color: #fff;
    position: absolute;
    top: 0px;
	margin: 0.4em;
}